.header {
    background       :#000;
    background-size    : cover;
    height             : 60rem;
    padding            : 3rem;
    color              : #FFF; 
    overflow           : hidden;
    position           : relative; 

    @include respond(tab-small) {
        padding: 0;
        height : 44rem;
        overflow : visible;
        background: url("assets/images/bk-top.jpg") no-repeat;
        background-size:cover;
    }

    &-video {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        min-width : 100%;
        min-height: 100%;
        width     : auto;
        height    : auto;
        z-index   : 0;
        @include transform-translate(-50%, -50%);
        @include respond(tab-small) {
            display: none;
        }
    }

    &-container {
        position: relative;
        z-index : 2;
        height  : 100%;
    }


    &-chamada-interna {
        display: inline-block; 
        width  : 65rem;
        @include respond(tab-small) {
            margin-top:3rem;
            padding:0 .5rem;
        }
    }

    .btn-principal {
        margin-top: 5rem;
        @include respond(tab-small) {
            margin-top: 4rem; 
        }
    }

    h4 {
        margin-top: 2.2rem;
    }

}

.logo-site {
    float:left;
    @include respond(tab-small) {
        padding:1.5rem 0;
        float:none;
    }
}

.elemento-mobile {
    display: none;

    @include respond(tab-small) {
        display: block;
    }
}

.elemento-desktop {
    display: block;

    @include respond(tab-small) {
        display: none;
    }
}



.centraliza-chamada {
    text-align     : center;
    height         : 100%;
    width          : 100%;
    align-items    : center;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center; 
}
